#sidebar {
	background: #494F50;
}

body{
	background: #2d283d;
}
nav{
	background: #2bbbad;
}

.hidden {
	display: none;
}

.brand-logo {
	margin-left: 20px;
}

.nav-wrapper li {
	height: 100%;
}

#login {
	margin-right: 20px;
}

.login-auth {
	margin-left: 20px;
	margin-right: 20px;
}

#info {
	height: 100%;
}

#register_section {
	margin-top: 200px;
	height: 100%;
}

#textArea {
	background: #4d283d;
}
