
#sidebar {
	background: #494F50;
}

#brandlogo{
	color: white;
	font-size: 12;
}

#inputcard{
	background: #e1f5fe;
}

#register{
	background: #2d283d;
}

#registertext{
	color: #ffce80;
	font-size: 24;
}

body{
	background: #2d283d;
}
nav{

	background: rgb(219, 235, 252);

}

#catchline{
	color: #ffce80;
	font-size: 30;
	font-weight: 200;

}

#sponsor1{
    position: fixed;
    bottom: 5px;
    max-width:6%;
    max-height: 8%;
}

#sponsor2{
	position: fixed;
	bottom: 8px;
    max-width: 9%;
    max-height: 10%;
}



.hidden {
	display: none;
}

.brand-logo {
	margin-left: 20px;
}

.nav-wrapper li {
	height: 100%;
}

#login {
	margin-right: 20px;
}

.login-auth {
	margin-left: 20px;
	margin-right: 20px;
}

#info {
	height: 100%;
}

#register_section {
	margin-top: 100px;
	height: 100%;
}

#textArea {
	background: #4d283d;
}
