
#sidebar {
	background: #494F50;
}

#brandlogo{
	color: white;
	font-size: 24;
	font-weight: 200;
}

#inputcard{
	background: #e1f5fe;
}



#registertext{
	color: #9fa8da;
	font-size: 24;
}

body{
	background: #F5F3EE;
}
nav{
	background:  #333;
}

#catchline{
	color: rgb(38, 166, 154);
	font-size: 27;
	font-weight: 200;
}


#sponsor1{
    position: fixed;
    bottom: 5px;
    max-width:6%;
    max-height: 8%;
}

#sponsor2{
	position: fixed;
	bottom: 8px;
    max-width: 9%;
    max-height: 10%;
}


.hidden {
	display: none;
}

.brand-logo {
	margin-left: 20px;
}

.nav-wrapper li {
	height: 100%;
}

#login {
	margin-right: 20px;
}

.login-auth {
	margin-left: 20px;
	margin-right: 20px;
}

#people{
	max-width: 100%;
}

#picture{
	margin: 0;
    color: black;
    font-size: 7rem;
    display: block;
}

#register_section {
	margin-top: 50px;
	height: 100%;
}

#textArea {
	background: #4d283d;
}

.message {
	font-size: 20px;
}

#pane {
	overflow: hidden;
}

#write_area {
	background: #333;
}
